
div {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: #1F2937

}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
}

li {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #E5E7EB
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 25px;
    background-color: #1F2937
}

.intro-left {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 350px;
    gap: 10px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.intro-description {
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB
}

button {
    border-radius: 8px;
    width: 60px;
    padding: 5px;
    border-width: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #3882F6
 }

button {
    border-radius: 8px;
    width: 60px;
    padding: 5px;
    border: 1px white;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #3882F6
 }

.intro-right {
    padding: 10px;
}

.pt {
    width: 350px;
    height: auto;
}

.information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: 150px;
    padding: 10px;
}

.mini-image {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    gap: 10px;
    padding: 30px 0 30px 0;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-color: #1F2937;
    text-align: center;
    width: 500px;
}

.quote-person {
    text-align: right;
}

footer {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    background-color: #3882F6;
    width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
    gap: 10px;
}

h3 {
    color: white;
}

.slogan {
    color: white;
}
